*{
    margin:0;
    padding: 0;
}

body{
    background: #e9ecf4;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    font-size: 2.4vh;
    overflow-x: hidden;
}

.img_principal {
    border-radius: 16px;
}

.p {
    line-height: 1.5;
}

.boton {
    margin-right: 10px;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);

    grid-template-areas: "header header header"
                         "contenido contenido sidebar"
                         "widget-1 widget-1 widget-1"
                         "footer footer footer"
}

.texto_italica {
    font-style: italic;
    line-height: 1.5;
}

.contenedor >div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .widget-1
.contenedor .footer {
    background: white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    background: #12203e;
    color: rgb(199, 199, 199);
    grid-area: header;
}

.contenedor .header a {
    color: rgb(199, 199, 199)
}

.contenedor .header h1 {
    color: rgb(199, 199, 199)
}

.contenedor .contenido {
    grid-area: contenido;
}

.contenedor .sidebar {
    background: #5889f3;
    text-align: center;
    display: list-item;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
    gap: 20px
 }




.contenedor .caja {
     background-color: lightgreen;
     padding: 10 px;
     text-align: center;
     border: 1px dashed black;
}

.contenedor .widget-1 {
    width: 95%;
    max-width: 100em;   
    background-color: lightblue;
    grid-area: widget-1;
    overflow-x: hidden;
}

.contenedor .widget-1 .grande{
    width: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1px;

    transition: all .5s ease;
    transform: translateX(0%);

}


.contenedor .widget-1 .img{
    height: 10rem;
    /*min-height: 5vh;*/
    /*background-color: white;*/
    border-radius: 16px;
    margin: 0.5rem;
}

.contenedor_puntos {
    display: flex;
    justify-content: center;
}

.contenedor .widget-1 .puntos{
    width: 8rem;
    margin-top:0.5rem;
    border-radius: 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
}

.contenedor .widget-1 .punto{
    height: 2rem;
    margin-right: 0.5rem;
    
}

.contenedor .widget-1 .punto.activo{
    height: 2rem;
    /*margin-left: 0.5rem;*/
}

.contenedor .footer {
    background: #12203e;
    color: white;
    grid-area: footer;
}

.contenedor .footer p {
    color: white;
}


    



.modo-oscuro {
    background-color: #333;
    color: #fff;
} 

.modo-oscuro p, a, h2, h4{
    color:black;
}

.modo-oscuro .header {
    background: rgb(199, 199, 199);
    color: #12203e;
    grid-area: header;
}

.modo-oscuro .header h1 {
    color: #12203e
}

.modo-oscuro .header a {
    color: #12203e
}

.links {
    
    text-decoration: none;
    color: black;
    background-color: transparent;
    transition: color 1s, background-color 1s; 
}

.links:hover {
     color: rgb(25, 175, 230);
    background-color: white;
}

@media screen  and (max-width:768px) {
    .contenedor{

        background-color: rgb(10, 114, 79);
        grid-template-areas:
        "header header header"
        "contenido contenido contenido"
        "sidebar sidebar sidebar"
        "carrousel carrousel carrousel"
        "footer footer footer";
    }
}


@media screen and (max-width: 600px){

    .contenedor{

        background-color: yellowgreen;

        grid-template-areas:
        "header header header"
        "contenido contenido contenido"
        "sidebar sidebar sidebar"
        "carrousel carrousel carrousel"
        "footer footer footer";

    }
}
   




